# Environment
.env

# Virtual Environment
venv/
.venv/
.venv6/
env/

# Django settings (sensitif)
mysite/settings.py

mysite/settings.py.bak
__pycache__/

# Build / static files
staticfiles/

# Socket / temp
*.sock.lock


# Python cache
__pycache__/
*.py[cod]

# Database
db.sqlite3
*.sqlite3

# Logs
*.log

# Static & Media (kalau generate di server)
staticfiles/
media/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/