{% extends 'home/tes.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<h3 class="text-3xl font-semibold mb-6">User Comments</h3>

<div id="comments-container" class="bg-white border-t border-x border-gray-200 min-h-screen">
    {% for comment in comments_to_review %}
        {% include 'admin/partials/comment_item.html' with comment=comment %}
    {% endfor %}

    {% if page_obj.has_next %}
        <button
            hx-get="?page={{ page_obj.next_page_number }}"
            hx-target="#comments-container"
            hx-swap="innerHTML"
            class="w-full mt-6 py-3 px-6 bg-blue-500 text-white text-lg font-medium rounded-lg hover:bg-blue-600 transition duration-300 ease-in-out"
            id="load-more-btn"
        >
            Load More
        </button>
    {% else %}
        <p class="text-center text-sm text-gray-500 mt-3" id="end-comments-msg">No more comments.</p>
    {% endif %}
</div>

{% endblock content %}
