{% extends 'home/tes.html' %}
{% block content %}

{% include "courses/course_set.html" %}
<section class="bg-white border border-gray-200 p-4 sm:p-6 lg:p-8 rounded-xl shadow-sm mt-6 mx-2 sm:mx-0">


    
    <nav class="text-sm mb-4" aria-label="Breadcrumb">
        <ol class="flex flex-wrap items-center text-gray-500 gap-y-1">
            
            <li class="flex items-center">
            <a href="{% url 'courses:course_view' %}" class="hover:underline text-gray-600">
                Home
            </a>
            <span class="mx-2">/</span>
            </li>

            <li class="flex items-center max-w-full">
            <a href="{% url 'courses:studio' course.id %}"
                class="hover:underline text-gray-600 truncate max-w-[200px] sm:max-w-none">
                {{ course.course_name }} → {{ section.title }}
            </a>
            <span class="mx-2">/</span>
            </li>

            <li class="flex items-center max-w-full">
            <a href="{% url 'courses:view-question' idcourse=course.id idsection=section.id idassessment=assessment.id %}"
                class="hover:underline text-gray-600 truncate max-w-[160px] sm:max-w-none">
                {{ assessment.name }}
            </a>
            <span class="mx-2">/</span>
            </li>

            <li class="text-gray-800 font-semibold whitespace-nowrap">
            Add Interactive Video
            </li>

        </ol>
        </nav>


    <form action="" method="POST" enctype="multipart/form-data"
        class="bg-white p-6 rounded-xl shadow-md w-full max-w-xl">
        {% csrf_token %}

        

        <label class="block text-sm font-medium mb-1">Video Title</label>
        <input type="text" name="title" class="w-full border rounded p-2 mb-3" required>

        <label class="block text-sm font-medium mb-1">Upload Video</label>
        <input type="file" name="file" class="w-full border rounded p-2 mb-4" accept="video/*" required>

        <button type="submit"
                class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">
            Save & Continue to Add Questions
        </button>
    </form>


</section>
{% endblock %}
