{% extends 'home/tes.html' %}
{% block content %}
<section class="bg-white border border-gray-200 p-6 rounded-lg shadow-sm hover:shadow-md transition">
    {% include "courses/course_set.html" %}
    <br> 

   
        <div class="tile">
            {% if course.image %}
                <img src="{{ course.image.url }}" alt="{{ course.title }}" class="w-36 h-auto border border-gray-300 rounded-md p-2">
            {% endif %}
            <br>
            {% if course.image or course.description %}
            <p><a href="{% url 'courses:draft-lms' course.id %}" target="_blank" class="text-blue-500">Course Summary Page (for student enrollment and access)</a></p>
            {% endif %}
        </div>
        <br>
        <br>
        
        <div class="tile-body">
            <form method="POST" enctype="multipart/form-data" class="space-y-6">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="mb-4">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="tile-footer mt-6">
                    <button type="submit" class="bg-red-500 text-white px-6 py-3 rounded-lg hover:bg-red-600 transition duration-200">Save <i class="fa fa-save"></i></button>
                    <a href="{% url 'courses:studio' id=course.id %}" class="ml-4 inline-block bg-gray-500 text-white px-6 py-3 rounded-lg hover:bg-gray-600 transition duration-200">Cancel <i class="fa fa-close"></i></a>
                </div>
            </form>
        </div>
   
  </section>
{% endblock %}
