{% extends 'home/tes.html' %}
{% block content %}

{% include "courses/course_set.html" %}
<section class="bg-white border border-gray-200 p-4 sm:p-6 lg:p-8 rounded-xl shadow-sm mt-6 mx-2 sm:mx-0">


 <nav class="text-sm mb-4" aria-label="Breadcrumb">
    <ol class="list-reset flex text-gray-500">
        <li>
        <a href="{% url 'authentication:home' %}" class="hover:underline text-gray-600">Home</a>
        <span class="mx-2">/</span>
        </li>
        <li>
        <a href="{% url 'courses:studio' course.id %}" class="hover:underline text-gray-600">{{ course.course_name }} <span class="mx-2"> -> {{ section.title }}</a>
        </span>
        <span class="mx-2">/</span>
        </li>
        
        <li>
        <a href="{% url 'courses:view-question' idcourse=course.id idsection=section.id idassessment=assessment.id %}" class="hover:underline text-gray-600">{{ assessment.name }}</a>
        <span class="mx-2">/</span>
        </li>
        <li class="text-gray-800 font-semibold">
        Edit Question
        </li>
    </ol>
    </nav>

<form method="post">
    {% csrf_token %}

    <label class="block mb-2">Question</label>
    <textarea name="question" class="w-full border rounded p-2">{{ quiz.question }}</textarea>

    <label class="block mt-4">Time in Video (seconds)</label>
    <input type="number" step="0.1" name="time_in_video"
           value="{{ quiz.time_in_video }}"
           class="w-full border rounded p-2">

    <label class="block mt-4">Question Type</label>
    <select name="question_type" class="w-full border rounded p-2">
        <option value="MC" {% if quiz.question_type == "MC" %}selected{% endif %}>Multiple Choice</option>
        <option value="DD" {% if quiz.question_type == "DD" %}selected{% endif %}>Drag & Drop</option>
        <option value="TXT" {% if quiz.question_type == "TXT" %}selected{% endif %}>Text</option>
    </select>

    <label class="block mt-4">Correct Answer</label>
    <input type="text" name="correct_answer_text"
           value="{{ quiz.correct_answer_text }}"
           class="w-full border rounded p-2">

    <button type="submit"
            class="mt-6 bg-blue-600 text-white px-4 py-2 rounded">
        Save Changes
    </button>
</form>





</section>
{% endblock %}
